<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/style.min.css">
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/Bendford-favicon.ico" >

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Иностранный язык с фокусом на Вас и Вашего ребенка! Научим говорить, писать, слушать и думать на английском">
<meta name="keywords" content="Английский, Английский для ребенка, Иностранный язык, Иностранный язык для ребенка">

<meta property="og:locale" content="ru_RU" >
<meta property="og:type" content="article" >
<meta property="og:title" content="Школа иностранных языков Bendfort ">
<meta property="og:description" content="Иностранный язык с фокусом на Вас и Вашего ребенка!Научим говорить, писать, слушать и думать на английском">
<meta property="og:image" content="https://bendfortschool.ru/assets/images/Logo.png">
<meta property="og:url" content="https://bendfortschool.ru/">
<meta property="og:site_name" content="Benford">
<meta name="author" content=" ooo tuorexpert">
<meta name="copyright" content="https://tuorexpert.ru/">

<title>{{ title }}</title>
