                                            <!--Header-->
<header class="header">
    <div class="header__container" id="header">
    <div class="container">
        <div class="header__inner-menu">
            <nav class="header__nav">
                <picture class="logo">
                    <source type="image/webp" srcset="../assets/images/Logo.webp">
                    <img class="logo__img" src="../assets/images/Logo.png" alt="Логотип" >
                </picture>
                <ul class="menu">
                    <li class="menu__list  menu__list--main">
                        <div class="menu__wrapp">
                            <a href="#" class="menu__link" data-scroll="scroll-benefits">О школе</a>
                            <svg class="menu__svg" width="13" height="9" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L6.5 7L12 1" stroke="black" stroke-linecap="round"/>
                            </svg>
                            <ul class="subnav  subnav--main">
                                <li class="menu__list">
                                    <a class="subnav_link" href="#" data-mod="doc">Cведения об образовательной организации</a>
                                </li>
                                <li class="menu__list">
                                    <a class="subnav_link" href="#" data-mod="management">Руководство</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu__list  menu__list--main">
                        <a href="#" class="menu__link" data-scroll="scroll-card">Наши услуги</a>
                    </li>
                </ul>
            </nav>
            <div class="header__inner-write">
                <a class="phone" href="tel:+79658606050" >+7 965 860-60-50</a>
                <div class="header__action">
                    <button class="btn  btn--header" data-scroll="scroll-register" >Записаться</button>
                </div>
            </div>
        </div><!--header__inner-menu end-->
        <div class="header__inner-mobile">
            <div class="header__burger">
                <button class="burger" type="button" data-mod="sidebar">
                    <span>открыть навигацию</span>
                </button>
            </div>
            <nav class="header__nav">
                <picture class="logo">
                    <source type="image/webp" srcset="../assets/images/Logo.webp">
                    <img class="logo__img" src="../assets/images/Logo.png" alt="Логотип" >
                </picture>
            </nav>
            <div class="header__inner-write">
                <div class="header__action">
                    <button class="btn btn--header"  data-scroll="scroll-register">Записаться</button>
                </div>
            </div>
        </div><!--header__inner-mobile end-->
    </div><!--container end-->
    </div><!--header__container end-->
    <div class="header__container-scroll" id="header-scroll">
        <div class="container">
            <div class="header__inner-menu">
                <nav class="header__nav">
                    <picture class="logo">
                        <source type="image/webp" srcset="../assets/images/Logo.webp">
                        <img class="logo__img" src="../assets/images/Logo.png" alt="Логотип" >
                    </picture>
                    <ul class="menu">
                        <li class="menu__list  menu__list--main">
                            <div class="menu__wrapp">
                                <a href="#" class="menu__link" data-scroll="scroll-benefits">О школе</a>
                                <svg class="menu__svg" width="13" height="9" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L6.5 7L12 1" stroke="black" stroke-linecap="round"/>
                                </svg>
                                <ul class="subnav  subnav--main">
                                    <li class="menu__list">
                                        <a class="subnav_link" href="#" data-mod="doc">Cведение об образовательной организации</a>
                                    </li>
                                    <li class="menu__list">
                                        <a class="subnav_link" href="#" data-mod="management">Руководство</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__list  menu__list--main">
                            <a href="#" class="menu__link" data-scroll="scroll-card">Наши услуги</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__inner-write">
                    <a class="phone" href="tel:+79658606050" >+7 965 860-60-50</a>
                    <div class="header__action">
                        <button class="btn  btn--header" data-scroll="scroll-register" >Записаться</button>
                    </div>
                </div>
            </div><!--header__inner-menu end-->
            <div class="header__inner-mobile">
                <div class="header__burger">
                    <button class="burger" type="button" data-mod="sidebar">
                        <span>открыть навигацию</span>
                    </button>
                </div>
                <nav class="header__nav">
                    <picture class="logo">
                        <source type="image/webp" srcset="../assets/images/Logo.webp">
                        <img class="logo__img" src="../assets/images/Logo.png" alt="Логотип" >
                    </picture>
                </nav>
                <div class="header__inner-write">
                    <div class="header__action">
                        <button class="btn btn--header"  data-scroll="scroll-register">Записаться</button>
                    </div>
                </div>
            </div><!--header__inner-menu end-->
        </div><!--container end-->
    </div><!--header__container end-->
</header>
