
<div class="modal  closest" id="management">
  <div class="modal__window">
    <div class="modal__box  modal__box--doc">
        <div class="close"  data-close="management">
            <svg class="close__svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 1.00049L1 23.0005" stroke="black" stroke-linecap="round"/>
                <path d="M1 1.00049L23 23.0005" stroke="#33363F" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="management">
            <h2 class="title title--management-main">Руководство</h2>
            <div class="management__cards">
                <div class="management__card">
                    <picture class="management__card-photo">
                      <source type="image/webp" srcset="assets/images/management_1.webp">
                        <img class="management__img" src="assets/images/management_1.png" alt="Наш руководитель" >
                    </picture>
                    <div class="management__description">
                        <div class="management__head">
                            <h5 class="title title--management">Донцова Наталья Александровна</h5>
                            <p class="text text--management">Генеральный директор</p>
                        </div>
                        <div class="management__info">
                          <p class="text text--management-item">Телефон: 8 (904) 230-05-15</p>
                          <p class="text text--management-item">Адрес: ул. Первомайская, 9</p>
                          <p class="text text--management-item">Почта: dir@724200.ru</p>
                        </div>
                    </div>
                </div>
                <div class="management__card">
                  <picture class="management__card-photo">
                    <source type="image/webp" srcset="assets/images/management_2.webp">
                      <img class="management__img" src="assets/images/management_2.png" alt="Наш руководитель" >
                  </picture>
                  <div class="management__description">
                      <div class="management__head">
                          <h5 class="title title--management">Петрова 
                            Ольга Сафарбековна</h5>
                          <p class="text text--management">Руководитель структурного подразделения Языковая Школа «Бендфорт»</p>
                      </div>
                      <div class="management__info">
                        <p class="text text--management-item">Телефон: 8 (8212) 72-43-00</p>
                        <p class="text text--management-item">Адрес: ул. Первомайская, 9</p>
                        <p class="text text--management-item">Почта: dir@724200.ru</p>
                      </div>
                  </div>
              </div>
              <div class="management__card">
                <picture class="management__card-photo">
                  <source type="image/webp" srcset="assets/images/management_3.webp">
                    <img class="management__img" src="assets/images/management_3.png" alt="Наш руководитель" >
                </picture>
                <div class="management__description">
                    <div class="management__head">
                        <h5 class="title title--management">Равко 
                          Татьяна Валерьевна</h5>
                        <p class="text text--management">Руководитель Отдела продаж</p>
                    </div>
                    <div class="management__info">
                      <p class="text text--management-item">Телефон: 8 (8212) 72-42-00</p>
                      <p class="text text--management-item">Адрес: ул. Первомайская, 9</p>
                      <p class="text text--management-item">Почта: dir@724200.ru</p>
                    </div>
                </div>
            </div>
            <div class="management__card">
              <picture class="management__card-photo">
                <source type="image/webp" srcset="assets/images/management_4.webp">
                  <img class="management__img" src="assets/images/management_4.png" alt="Наш руководитель" >
              </picture>
              <div class="management__description">
                  <div class="management__head">
                      <h5 class="title title--management">Ветошкина
                        Зинаида Николаевна</h5>
                      <p class="text text--management">Менеджер по работе с клиентами</p>
                  </div>
                  <div class="management__info">
                    <p class="text text--management-item">Телефон: 8 (8212) 72-42-00</p>
                    <p class="text text--management-item">Адрес: ул. Первомайская, 9</p>
                    <p class="text text--management-item">Почта: dir@724200.ru</p>
                  </div>
                </div>
              </div>
            </div><!--management__cards end-->
            <p class="text text--management-item">В соответствии со ст. 51 п. 3 «Закона об образовании» №273-ФЗ от 29.12.2012 г. все сотрудники администрации и педагоги школы ежегодно проходят профилактический медицинский осмотр.</p>
        </div><!--management end--> 
        <div class="modal__action  modal__action--privacy">
          <button class="btn btn--modal" data-scroll="scroll-middle-register">Записаться</button>
    </div>  
    </div>
  </div>
</div>
